.form-wrapper {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding: 3rem 3rem 0 3rem;
}

.form {
  position: relative;
  width: 50%;
  box-shadow: 3px 3px 15px grey, -3px -3px 15px grey;
  overflow: overlay;
}
.form-signin {
  max-width: 600px;
  max-height: 700px;
}

.form h2 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-size: 2.5em;
  color: #e63946;
}

.form_input {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

.form_input label {
  opacity: 0.4;
  margin-bottom: 0.5em;
}

input[type="email"],
input[type="password"] {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: rgba(206, 201, 201, 0.884);
  padding: 0 0 5px 0;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #e63946;
}

.form_password {
  margin-top: 2em;
}

.form_button {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.form_button button {
  font-family: "Poppins", sans-serif;
  outline: none;
  font-size: 15px;
  height: 2.5em;
  width: 100%;
  padding: 7px 0;
  color: white;
  background: #e63946;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #da535ef8;
  text-transform: uppercase;
  cursor: pointer;
}

.form_button button:hover {
  background: rgb(199, 23, 38);

  color: white;
  box-shadow: 5px 5px 6px grey;
}

.form__signup {
  position: absolute;
  bottom: 0;
  padding: 0 2em;
}

.form__signup span {
  opacity: 0.4;
}

.form__signup a {
  text-decoration: none;
  margin-left: 5px;
  color: #e63946;
}
