@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  width: 90vw;
  height: 100vh;
  margin: auto;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
